body {
	margin: 0;
}

/* police type */
#alexguestbook	{font-family: Verdana; color: #000000; font-size: 10px}

#alexguestbook :focus {outline: none;}

#alexguestbook TD	{font-family: Verdana; color: #FFFFFF; font-size: 10px}

/* couleur des liens */
#alexguestbook a:link		 {text-decoration:none ; color:#FFFFFF}
#alexguestbook a:visited	 {text-decoration:none ; color:#FFFFFF}
#alexguestbook a:hover		 {text-decoration:underline ; color:#F1F1F1}

#alexguestbook a.Noir:link		 {text-decoration:none ; color:#000000}
#alexguestbook a.Noir:visited	 {text-decoration:none ; color:#000000}
#alexguestbook a.Noir:hover		 {text-decoration:underline ; color:#CC3300}

#alexguestbook a.a_copyright:link       { text-decoration: none;      color: #000; }
#alexguestbook a.a_copyright:visited    { text-decoration: none;      color: #000; }
#alexguestbook a.a_copyright:hover      { text-decoration: underline; color: #000; }

/* couleur des fonds tableaux */
#alexguestbook td.row_blanc	{background-color: #FFFFFF;}
#alexguestbook td.row_gris	{background-color: #F1F1F1;}
#alexguestbook td.row_gris2	{background-color: #E5E5E5;}
#alexguestbook td.row_bleu	{background-color: #4A7DAC;}

/* couleur du texte */
#alexguestbook .Arial_Big_Rouge		{font-family: Arial; color: #CC3300; font-size: 22px}
#alexguestbook .Verdana_gris		{font-family: Verdana; color: #DDDDDD; font-size: 10px}
#alexguestbook .Verdana_Noir		{font-family: Verdana; color: #000000; font-size: 10px}
#alexguestbook .Verdana_rouge_clair		{font-family: Verdana; color: #C00000; font-size: 10px}
#alexguestbook .Arial_rouge_fonce	{font-family: Arial; color: #990000; font-size: 10px}
#alexguestbook .Gris_prec_suiv		{font-family: Verdana; color: #C0C0C0; font-size: 10px}

/* couleur du tableau */
#alexguestbook .table_blanc	{background-color: #FFFFFF;}

/* boutons */
#alexguestbook input, #alexguestbook textarea, #alexguestbook select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
	border-style: solid; 
	border-width: 1
}

#alexguestbook input.normal {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana;
}

#alexguestbook .reponse {
 border: 1px solid #B4B4B4;
 background-color: #FFFFFF;
 padding: 5px;
}

#alexguestbook .copyright {
 color: #000000;
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 1em;
 text-align: center;
 padding-bottom: 10px;
}

#alexguestbook #copyright {
	vertical-align: -5px;
}

#alexguestbook #lien_accueil a:link, #alexguestbook #lien_accueil a:hover, #alexguestbook #lien_accueil a:visited, #alexguestbook #lien_administration a:link, #alexguestbook #lien_administration a:hover, #alexguestbook #lien_administration a:visited {
	text-decoration: underline;
	color: #4A7DAC;
}

#alexguestbook #lien_accueil  img, #alexguestbook #lien_administration  img {
	vertical-align: text-bottom;
	width: 16px;
	height: 16px;
	border: 0;
	margin: 0 2px 0 0;
}

#alexguestbook #lien_administration {
	text-align: center;
	margin-top: 15px;
}

#alexguestbook .symbole_champ_obligatoire {
	color: #FF0000;
}

#alexguestbook .symbole_champ_prive {
	color: #6264FA;
}