body {
	background-image: url(images/bg_pg_sp.gif);
	margin: 0;
}

#alexguestbook {
 font-family: Verdana, Arial, Helvetica; 
 color: #000000;
 font-size: 0.7em;
 text-align: center; /*corrige un bug IE<6 pour centrer le div "contour"*/
 padding-bottom: 40px;
}

#alexguestbook :focus {outline: none;}

#alexguestbook .body_txt {
 /* body width - you can update it */
 width: 750px;

 margin-left: auto;
 margin-right: auto;
}

#alexguestbook a, #alexguestbook img, #alexguestbook abbr, #alexguestbook acronym, #alexguestbook frame { 
 border: none;
}

#alexguestbook a:link    { text-decoration: none; color: #0000FF; }
#alexguestbook a:visited { text-decoration: none; color: #6633CC; }
#alexguestbook a:hover   { text-decoration: underline; color: #FF0000; }

#alexguestbook a.a_info_code:link { text-decoration: none; color: #3A3A3A; }
#alexguestbook a.a_info_code:visited { text-decoration: none; color: #3A3A3A; }
#alexguestbook a.a_info_code:hover { text-decoration: underline; color: #3A3A3A; }

#alexguestbook input, #alexguestbook textarea, #alexguestbook select {
 font-family: Verdana, Helvetica, sans-serif;
 font-size: 1em;
 border: 1px solid #757575;
}

#alexguestbook input.i_text {
 font-family: Verdana, Helvetica, sans-serif;
 font-size: 1em;
 border: 1px solid #757575;
 width: 200px;
}

#alexguestbook input.i_focus {
 padding-left: 2px;
 border: 1px solid #00007E;
 border-left: 3px solid #00007E;
 background-color: #EBEBFF;
 width: 200px;
}

#alexguestbook input.btn_add {
 font-size: 1em;
 cursor: pointer;
 font-weight: bold;
 color: #373737;
}

#alexguestbook input.btn_search {
 cursor: pointer;
 font-weight: bold;
 color: #373737;
}

#alexguestbook input.i_nbre_car {
 font-size: 0.8em;
 color: #A1A1A1;
 text-align: center;
 background-color: transparent;
 border: 0px none;
}

#alexguestbook textarea.i_comment {
 font-family: Verdana, Helvetica, sans-serif;
 font-size: 1em;
 border: 1px solid #757575;
 width: 430px;
}

#alexguestbook textarea.i_comment_focus {
 padding-left: 2px;
 border: 1px solid #00007E;
 border-left: 3px solid #00007E;
 background-color: #EBEBFF;
 width: 430px;
}

#alexguestbook form {
 margin: 0px;
 padding: 0px;
}

#alexguestbook img.img_left{
 float: left;
}

#alexguestbook .d_title {
 font-weight: bold;
 color: #FFF;
 font-size: 1.3em;
 text-align: center;
 margin: 30px;
}

#alexguestbook .d_title img {
	vertical-align: middle;
	margin: 0 15px 0 15px;
}

#alexguestbook .d_note {
 font-family: Verdana, Helvetica, sans-serif;
 color: #FFF;
 font-size: 1em;
 text-align: center;
}

#alexguestbook .d_add_msg {
 text-align: center;
}

#alexguestbook .d_f_add_msg {
 margin-left: auto;
 margin-right: auto;
 width: 450px;
 padding-top: 4px;
 padding-bottom: 4px;
 color: #3A3A3A;
 background: #F3F3F3 url('img/background_add_msg.png');
}

#alexguestbook .d_add_msg_h {
 margin-left: auto;
 margin-right: auto;
 width: 450px;
 height: 4px;
 background: #F3F3F3 url('img/border_h.png') no-repeat;
}

#alexguestbook .d_add_msg_b {
 margin-left: auto;
 margin-right: auto;
 width: 450px;
 height: 4px;
 background: #F3F3F3 url('img/border_b.png') no-repeat;
}

#alexguestbook .add_msg_left {
 float: left;
 width: 170px;
 text-align: left;
 margin-top: 2px;
 padding-left: 10px;
 height: 23px;
 clear: both;
}

#alexguestbook .add_msg_right {
 text-align: left;
 height: 25px;
}

#alexguestbook .reponse {
 border: 1px solid #B4B4B4;
 background-color: #FFFFFF;
 padding: 5px;
}

#alexguestbook .code_sec {
 font-family: Courier New;
 font-size: 1.1em;
 text-align: center;
}

#alexguestbook .d_center {
 text-align: center;
}

#alexguestbook .copyright {
 color: #FFF;
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 1em;
 text-align: center;
 padding-bottom: 10px;
}

#alexguestbook .copyright p {
	margin: 0;
}

#alexguestbook #copyright {
	vertical-align: -5px;
}

#alexguestbook .d_smileys {
 text-align: center;
 padding: 3px;
}

#alexguestbook .body_all {
 text-align: center;
}

#alexguestbook .d_nb_mess_page {
 background-color: #000066;
 font-weight: bold;
 height: 15px;
 font-size: 0.8em;
}

#alexguestbook span.color_d_nb_mess_page1 {
 color: #DDDDDD;
}

#alexguestbook span.color_d_nb_mess_page2 {
 color: #FFFFFF;
}

#alexguestbook .three1 { 
 float: left;
 width: 35%;
 text-align: left;
 padding-left: 3px;
 padding-top: 1px;
 height: 14px;
 border-right: 2px solid #000000;
}

#alexguestbook .three2 { 
 float: left;
 width: 28%;
 text-align: center;
 padding-top: 1px;
 height: 14px;
}

#alexguestbook .three3 { 
 float: right;
 width: 35%;
 text-align: right;
 padding-right: 3px;
 padding-top: 1px;
 height: 14px;
 border-left: 2px solid #FFFFFF;
}

#alexguestbook .d_liste_page {
 padding: 1px;
 height: 15px;
 color: #373737;
}

#alexguestbook .three1_2 { 
 float: left;
 width: 25%;
 text-align: left;
}

#alexguestbook .three2_2 { 
 float: left;
 width: 49%;
 text-align: center;
}

#alexguestbook .three3_2 { 
 float: right;
 width: 25%;
 text-align: right;
}

#alexguestbook span.Gris_prec_suiv {
 color: #C0C0C0;
}

#alexguestbook .d_corps_msg {
 background-color: #F3F3F3;
 border: 1px solid #757575;
 padding: 4px;
 text-align: left;
}

#alexguestbook .d_pseudo {
 color: #CC3300;
 font-weight: bold;
}

#alexguestbook .d_date {
 color: #CC3300;
 font-size: 0.8em;
 float: right;
 width: 145px;
 text-align: right;
}

#alexguestbook .d_code1{
 display: inline;
 float: left;
 text-align: right;
 height: 20px;
 width: 238px;
}

#alexguestbook .d_code2{
 display: inline;
 float: left;
 text-align: left;
 height: 20px;
}

#alexguestbook .d_submit_msg {
 text-align: center;
 clear: both;
}

#alexguestbook .d_note_user {
 font-weight: bold;
 color: #878787;
 text-align: left;
}

#alexguestbook #d_contour {
	background-image: transparent;
	margin-left: auto;
	margin-right: auto;
	width: 91%;
}

#alexguestbook .gras {
	font-weight: bold;
}
#alexguestbook #lien_accueil a:link, #alexguestbook #lien_accueil a:hover, #alexguestbook #lien_accueil a:visited, #alexguestbook #lien_administration a:link, #alexguestbook #lien_administration a:hover, #alexguestbook #lien_administration a:visited {
	text-decoration: underline;
	color: #4A7DAC;
}

#alexguestbook #lien_accueil  img, #alexguestbook #lien_administration  img {
	vertical-align: text-bottom;
	width: 16px;
	height: 16px;
	border: 0;
	margin: 0 2px 0 0;
}

#alexguestbook #lien_accueil {
	text-align: left;
}

#alexguestbook #lien_administration {
	text-align: center;
	margin-top: 10px;
	padding-bottom: 5px;
}

#alexguestbook .symbole_champ_obligatoire {
	color: #FF0000;
}

#alexguestbook .symbole_champ_prive {
	color: #6264FA;
}
